<form method="post" action="{{ path('competence_delete', {'id': competence.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de bien vouloir supprimer cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competence.id) }}">
    <button class="btn">Supprimer</button>
</form>
