{% extends 'base-dashboard.html.twig' %}

{% block title %}New Competence{% endblock %}

{% block body %}
<div class="container form-jk-admin">
    <h1 class="jk-title-admin mb-5">Créer de nouvelles compétences</h1>
    {{ include('competence/_form.html.twig') }}
    </div>
        <div class="mt-5">
            <a href="{{ path('competence_index_admin') }}" class="retour">Retour</a>
        </div>
</div>
{% endblock %}
