<form method="post" action="{{ path('presentation_delete', {'id': presentation.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de bien vouloir supprimer cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ presentation.id) }}">
    <button class="btn">Supprimer</button>
</form>
