{% extends 'base-dashboard.html.twig' %}

{% block title %}Edit Presentation{% endblock %}

{% block body %}
<div class="container form-jk-admin">
    <h1 class="jk-title-admin mb-5">Modifier la présentation</h1>
    {{ include('presentation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('presentation/_delete_form.html.twig') }}
</div>
<div class="mt-5">
    <a href="{{ path('presentation_index_admin') }}" class="retour">Retour</a>
</div>
</div>
{% endblock %}
