{% extends 'base-dashboard.html.twig' %}

{% block title %}New Presentation{% endblock %}

{% block body %}
<div class="container form-jk-admin">
    <h1 class="jk-title-admin mb-5">Créer une nouvelle présentation</h1>
    {{ include('presentation/_form.html.twig') }}
    </div>
    <div class="mt-5">
        <a href="{{ path('presentation_index_admin') }}" class="retour">Retour</a>
    </div>
</div>
{% endblock %}
