<footer class="footer bg-body-tertiary footer-bloc mt-4">
  <div class="footer-container">
    <div class="footer mx-auto">
          <a href="https://www.linkedin.com/in/jessica-keller-50904597" class="footer-icon"><i class="bi bi-linkedin"></i></a>
          <a href="https://github.com/JessKel" class="footer-icon"><i class="bi bi-github"></i></a> 
          </br>
          <p>© 2023 Jessica Keller - Tous droits réservés</p>
      </div>
    </div>
  </div>
</footer>