h1.jk-title2 {
    font-size: 4rem;
    margin-top: 0.5rem !important;
}
h4.card-title {
    font-family: $primary-font;
}
img.dessin {
    height: 3rem;
}

/* Cards présentation */
div.carousel-item.active {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
div.card.card-jk2 {
    background: linear-gradient(to right bottom, #13072E, #3f2182);
    color: $white;
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 2rem;
    width:70%;
    max-height: 70vh;
}
a.nav-link.btn-jk-2 {
	background: $gradient-color-button;
	color: $primary;
	padding: 1vh 2vw;
	border-radius: 2rem;
	font-family: $primary-font;
	font-size: 1.5rem;
    font-weight: bold;
    width: fit-content;
    margin-top: 5rem !important;
    margin-bottom: 1rem;
}

/* Cards competences */
div.card.card-small {
    background: linear-gradient(to right bottom, #13072E, #3f2182);
    color: $white;
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 6rem;
}
h3.jk-title3 {
    font-size: 3rem;
    margin-top: 0.5rem !important;
    font-family: $title-font;
}
div.card.picture-card {
    background-color: transparent;
}
img.img-logo {
    max-width: 10rem;
    max-height: 10rem;
    padding: 2rem;
}

/* Cards projects */
div.card.card-project {
    background: linear-gradient(to right bottom, #13072E, #3f2182);
    color: $white;
    text-align: left;
    margin-bottom: 2rem;
    padding:0;
    width: 20vw !important;
    max-height: 70vh !important;
}
h4.jk-title4,
.modal-title.fs-5 {
    color:$bleu;
    font-family: $primary-font;
    margin-top: 0.5rem;
}
p.card-text.mb-1.jk-text2 {
    font-family: $primary-font;
}
button.nav-link.btn-jk-project {
    background: $gradient-color-button;
	color: $primary;
	padding: 1vh 2vw;
	border-radius: 2rem;
	font-family: $primary-font;
	font-size: 1rem;
    margin-left: auto;
    font-weight: bold;
    width: fit-content;
}
div.modal-content {
    background: linear-gradient(to left top,#5de0e6, #004aad);
    color: $white;
    font-family:$primary-font;
    font-size: 1rem;
}
h1#staticBackdropLabel.modal-title.fs-5 {
    color: $primary !important;
    font-weight: bold;
    font-family:$primary-font;
    font-size: 1.5rem;
    margin-top: 0.5rem !important;
}
button.btn.btn-secondary.jk-btn2 {
    background: linear-gradient(to right bottom, #13072E, #3f2182);
}
a.link-modal {
    color:$secondary;
}
img.card-img-top1 {
    max-height: 70vh;
}