#message-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    margin-left: 2rem;

    @media screen and (max-width: 576px) {
        margin-left: 0.5rem;
    }
}
h1.jk-title.text-left {
    margin-left: 2rem;

    @media screen and (max-width: 576px) {
        margin-left: 0.5rem;
        font-size: 3rem;
    }
}
#message-form label {
    color: $white;
    font-family: $primary-font;
}

#message-form input,
#message-form textarea {
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    width: 26vw;
    font-family: $primary-font;
    color: $white;
    background: transparent;
    border-color: $white;

    @media screen and (max-width: 768px) {
        width: 20rem !important;
    }
}

#message-form button {
    background: $gradient-color-button;
    color: $primary;
    padding: 1vh 2vw;
    border-radius: 2rem;
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: bold;
    width: 26vw;

    @media screen and (max-width: 768px) {
        width: 20rem !important;
    }
}

/* Registration form */
h2.subtitle {
    color: $bleu;
    margin-left: 2rem;
    font-weight: normal;
    font-family: $primary-font;

    @media screen and (max-width: 576px) {
        margin-left: 0;
    }
}
button.btn.btn-lg.btn-primary.login {
    color:$white !important;
    font-family: $primary-font;
    font-size: 1.3rem !important;
    width: 15vw;

    @media screen and (max-width: 768px) {
        width: 10rem !important;
    }
}
a.mdp_forgot {
    color: $white;
    margin-top: 1rem;
    font-family: $primary-font;
    font-size: 0.8rem;
}

@keyframes spiral-rotation {
    0% {
        transform: translateY(90) rotate(0deg);
    }
    100% {
        transform: translateY(-200px) rotate(360deg);
    }
}

.spiral-animation {
    animation: spiral-rotation 120s linear infinite;
}