div.card.mb-3.mt-4.card-jk {
    background: linear-gradient(to right bottom, #13072E, #3f2182);
    color: $white;
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 4rem;
}
h1.jk-title {
    font-size: 5rem;
}
p.card-text.mb-5.jk-text {
    font-size: 1.5rem;
    font-family: $primary-font;
}
a.nav-link.btn-jk-1 {
    background: $gradient-color-button; /* Dégradé initial du bouton */
    color: $primary;
    padding: 1vh 2vw;
    border-radius: 2rem;
    font-family: $primary-font;
    font-size: 2rem;
    width: fit-content;
    margin-bottom: 3rem;
    position: relative; /*Position est relative pour positionner l'élément fils */
    overflow: hidden; /* Masque tout ce qui dépasse de la div */
    transition: background-position 0.5s ease-in-out; /* Ajoute une transition pour le changement de position du dégradé */
}

a.nav-link.btn-jk-1::before {
    content: ''; /* Créer un élément pseudo-élément pour représenter le dégradé */
    position: absolute;
    top: 0;
    left: -100%; /* Initial position à l'extérieur du bouton à gauche */
    width: 200%; /* Largeur plus grande pour permettre le déplacement de gauche à droite */
    height: 100%;
    background: linear-gradient(to right, $gradient-color-button, $primary); /* Dégradé du bouton, de gauche à droite */
}

a.nav-link.btn-jk-1:hover::before {
    left: 100%; /* Nouvelle position à l'extérieur du bouton à droite au survol */
}

div.card.mb-3.mt-4.card-jk img {
    height: 80%;
    object-fit: cover;
    width: 100%;
}
@media screen and (max-width: 768px) {
    div.card.mb-3.mt-4.card-jk {
    padding-left: 1rem;
    margin-bottom: 2rem;
    }
    h1.jk-title {
        font-size: 4rem;
    }

    p.card-text.mb-5.jk-text {
        font-size: 1.2rem;
    }

    a.nav-link.btn-jk-1 {
        padding: 0.8rem 1.5rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    div.card.mb-3.mt-4.card-jk img {
        height: 60%;
    }
}
