{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
<div class="row g-0 center mb-">
  <div class="col-md-6 col-contact" id="message-form">
  <h1 class="jk-title text-left">Contactez-moi</h1>
      {{ include('message/_form.html.twig') }}
  </div>
  <div class="col-md-5 d-flex align-items-right">
    <img src="{{ asset('build/images/cubesJK.png') }}" class="img-fluid rounded-end spiral-animation" alt="photoJK">
  </div>
</div>
{% endblock %}
