<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}">
        <title>
            {% block title %}Mon Portfolio{% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </head>
    <body id="body-jk" style="background-image:url('{{ asset('build/images/fondecranJK.png') }}')">
        <header class="header" id="header">
            {% include 'includes/_navbar.html.twig'%}
        </header>
        <main class="container">
        {% block body %}{% endblock %}
        </main>

        <!-- script Bootstrap JS pour modal -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-Gn5384xqQ1aoWXA+058RXP/99LXEIoP7gUKzJvAuw4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-Pn538eBCFSTNB9lAmdiVU9U1Y26v3S9PYHDtHz5l3/KQHQpPJ0QWq8AV0VaoG6Y" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    </body>
    {% include 'includes/_footer.html.twig'%}
</html>
