{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="button-container">
        <button class="btn" style="margin-right:1rem">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
